@import url();
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(m1.jpg);
    background-size: cover;

}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.text h3{
    color: #fff;
}
.text p{
    color: #fff;
}
.box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
 .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-size: 300;
}
 .text h3{
    font-weight: 500;
    color: #00bcd4;

}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactInfo.inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:  2px solid #333;
    outline: none;
    resize: none;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span


{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-40px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }

}


a,button{
    font-size: 15px;
    padding: 0px;
  
    font-weight: 500;
    color: rgba(14, 13, 13, 0.904);
    cursor: pointer;
    text-decoration: none;
    /* margin: 5px; */
    margin-left: 2px;
    text-align: center;
  }
  button{
    background-color: rgb(249, 212, 27);
    padding: 9px 25px;
    border: none;
    border-radius: 25px;
    transition: all 0.4s ease 0s;
    text-align: center;
  }
  nav li a:hover{
    color: rgb(230, 15, 122);
    transition: all0.4s ease 0s;
    text-align: center;
  }
  button:hover{
    background-color: #303435cc;
  }


